<nav class="navbar navbar-expand-lg" style="padding: 10px 40px; background-color: white; position: fixed; width: 100%;">
    <div class="container-fluid">
        <div class="sub-menu-left">
            <a class="navbar-brand me-4" href="#" style="font-weight: 500;">SocialSync</a>
            <a href="#about" class="me-3">About</a>
            <a href="#features" class="me-3">Features</a>
            <a href="#technology" class="me-3">Our Technology</a>
        </div>
        <div class="sub-menu-right">
            <a href="/login" class="me-4">Log In</a>
            <a href="/signup" class="btn btn-primary">Sign Up</a>
        </div>
    </div>
</nav>