<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/landing-page.css">

</head>
<body>
    <%- include("_navbar") %>

    <section id="home">
        <div class="container">
            <div class="headline">
                <h1>Hello, world!</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias nesciunt consectetur quod ab rem soluta facere.</p>
            </div>
            <img src="/assets/social-media.jpg" alt="">
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="headline">
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias nesciunt consectetur quod ab rem soluta facere.</p>
            </div>
        </div>
    </section>

    <%- include("_bootstrap") %>
</body>
</html>