<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/login-signup.css">

</head>
<body>
    <div class="main-container">
        <div class="container-left"></div>
        <div class="container-right">
            <div class="back-button">
                <a href="/">Back</a>
            </div>
            <h3>Create Account</h3>
            <form method="post" action="/signup">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <div class="signup">
                <p>Already have an account? <a href="/login">Log In</a></p>
            </div>
        </div>
    </div>

    <%- include("_bootstrap") %>
</body>
</html>