<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/user/home-user.css">

</head>
<body>
    <aside class="sidebar">
        <img src="" alt="">
    </aside>

    <h1>Lorem Ipsum</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias nesciunt consectetur quod ab rem soluta facere.</p>

    <%- include("../_bootstrap") %>
</body>
</html>