/* --- Sidebar */
.sidebar {
    position: fixed;
    padding: 40px 32px;
    width: 22%;
    height: 100vh;
    background-color: white;
    border-right: 1.5px solid #f0f0f0;;
}

.sidebar .user-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar .user-profile img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%;
}

.sidebar .user-profile p {
    margin: 0;
    width: fit-content;
}

.sidebar .user-profile .display-name {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
}

.sidebar .user-profile .username {
    color: grey;
}

.sidebar .statistics {
    margin: 32px 0 0;
    display: flex;
    justify-content: space-between;
}

.sidebar .statistics .status {
    font-size: 12px;
    font-weight: 500;
    color: rgb(158, 158, 158);
}

.sidebar .statistics .amount {
    text-align: center;
    margin-bottom: 4px;
    font-weight: 700;
}

.sidebar hr {
    margin: 8px;
}

.sidebar .menu {
    margin-top: 16px;
}

.sidebar .menu a {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: grey;
}

.sidebar .menu p {
    margin: 16px 0;
    /* font-weight: 500; */
}

.sidebar .menu a:hover {
    font-weight: 500;
    color: rgb(255, 87, 115);
}

.sidebar .menu .bx {
    font-size: 18px;
}

.sidebar .menu .log-out {
    margin-top: 24px;
}


/* --- Main */
.main-container {
    margin-left: 22%;
    margin-right: 18%;
    padding: 32px 56px;
    width: 78%;
    height: 100vh;
    background-color: #fafafa;
}

.container-right {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
}