html>body {
    background-color: #fafafa;
    height: 100%;
}

.form-setting {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-setting form {
    width: 60%;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
}

.form-setting .cta {
    display: flex;
}

.form-setting .cta .skip {
    display: flex;
    margin-left: auto;
    color: grey;
    align-items: center;
    text-decoration: none;
    border: none;
    background-color: transparent;
}


