.main-container {
    display: flex;
    height: 100vh;
}

.container-left {
    background-color: lightgrey;
    width: 50%;
    height: auto;
}

.container-right {
    width: 50%;
    padding: 32px 64px;
}

.container-right h3 {
    margin: 16px 0 16px;
}

.container-right .btn {
    margin-top: 16px;
    width: 100%;
}

.signup {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}